@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";

:root{
  --text-color: #56606d;
  --text-color-dark:#99a3af;
  
--transition-regular:0.3s;
--transition-slow:0.6s;
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

